.dctos{
    background-color: #1CD1B0;
    padding: 5px;
}

.dctos-txt{
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 450;
    padding-left: 25px;
}

.encabezado{
    position: sticky;
    top: 0;
    background-color: #00669F;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.2);
    height: 80px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    z-index: 10;

}

.titulo{
    font-size: 35px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor-vacio{
    height: 100px;
}

.contenedor{
    display: flex;
    flex-direction: row;
    padding: 40px;
    justify-content: space-around;
    
}

.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 20px;
}

.contenedor-ruptura{
    position: relative;
    height: 100px;
}

.banner{
    width: 100%;
    position: relative;
    border-radius: 30px 30px 0 0;

}

.icono{
    width: 150px;
    border-radius: 100px;
    position: absolute;
    z-index: 5;
    left: 26%;
    bottom:20%;
    box-sizing: border-box;
    box-shadow: 0px 5px 6px 2px rgba(0, 0, 0, 0.4);
    
}

.fa-solid{
    position: absolute;
    font-size: 25px;
    left: 15px;
    top: -150px;
    z-index: 6;
}



.contenedor-texto{
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
    justify-content: center;
    
    box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.2);

}

.subtitulo{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    padding: 15px 8px;
    font-weight: 400;
}

.descripcion{
    padding: 25px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn{
    background-color: #00669F;
    padding: 20px;
    color: white;
    border: none;
    margin: 15px;
    width: 40%;
    align-self: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer{
    background-color: #00669F;
    padding: 20px 45px;
    box-sizing: border-box;
    font-size: 20px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width : 1200px) {

    .contenedor{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    
    .card{
        margin-bottom: 70px;
        align-self: center;
    }
    
}